c++_template/Debug/
c++_template/c++_template/Debug/
c++_template/c++_template.opensdf
c++_template/c++_template.sdf
c++_template/c++_template.v12.suo
Algorithm/Debug/
Algorithm/Algorithm/Debug/
Algorithm/Algorithm.opensdf
Algorithm/Algorithm.sdf
STLMem/STLMem/Debug/
STLMem/Debug/
STLMem/STLMem.opensdf
STLMem/STLMem.sdf
